<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 카메라 사용 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Telegram Bot API / 네트워크 기능 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="Pouch Vision Inspector"
        android:supportsRtl="true"
        android:theme="@style/Theme.PouchVisionInspector">

        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TelegramSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".InspectionSpecSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".InspectionSpecSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TotalInspectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SealActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FormingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TabActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DisassemblyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".GuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
